@media only screen and (min-width: 993px){
    .container{
        width: 98%;
    }
}
#left-sidebar-nav {
    position: fixed;
    width: 100px;
    left: 180px;
    z-index: 999;
    height: auto;
}
#main, footer {
    padding-left: 268px;
}
.side-nav.leftside-navigation{
    width: 268px;
    top: 64px;
    overflow: hidden;
    left: 0;
    position: fixed;
}
.side-nav.leftside-navigation li.user-details {
    background: url(http://demo.geekslabs.com/materialize/v2.3/layout01/images/user-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* overflow: hidden; */
    margin-bottom: 15px;
    padding: 15px 0px 0px 15px;
}
.side-nav.leftside-navigation .profile-btn {
    margin: 0;
    text-transform: capitalize;
    padding: 0;
    text-shadow: 1px 1px 1px #444;
    font-size: 15px;
}

.side-nav a {
    line-height: 42px !important;
    height: 42px;
}
.side-nav.fixed a{
    display: block;
    padding: 0 15px;
    color: #444;
}
.side-nav li a i {
    line-height: inherit;
    width: 1rem;
    font-size: 1.6rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}
.side-nav.leftside-navigation li{
    line-height: 44px;
    cursor: pointer;
}
ul.side-nav li {
    padding: 0;
}
.dropdown-content {
    background-color: #FFFFFF;
    margin: 0;
    display: none;
    min-width: 100px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width, height;
}
.side-nav.leftside-navigation li a{
    font-size: 14px;
    font-weight: 400;
}
.user-roal {
    color: #fff;
    margin-top: -16px;
    font-size: 13px;
    text-shadow: 1px 1px 1px #444;
}
.card-panel {
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}
.login-form{
    width: 280px;
}
.margin {
    margin: 0 !important;
}
#login-page{
    width: 23%;
}
.tareas{
    overflow-y: scroll;
    min-height: 100%;
    height:400px;
}